.results {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .results {
    flex-direction: row;
    /* gap: 5rem; */
  }
}

@media (min-width: 1024px) {
  .results {
    gap: 5rem;
  }
}